<div class="container">
  <div class="header-design"></div>
  <header class="container-header">
    <img src="assets/image1.png" alt="">
    <div>
      <h1 class="header-name">Jessica John Jones</h1>
      <p class="header-description">FS1 Acacia</p>
    </div>
  </header>
  <div class="container-body">
    <div class="body-ad-start">
      <h2 class="body-ad-desc">Now pay your fee monthly with @</h2>
      <p>tick mark</p>
    </div>
    <div class="body-ad-center">
      <h1 class="percent">0%</h1>
      <h2 class="interest">Interest pre-approved credit line</h2>
    </div>
    <div class="footer">
      <div class="body-add-footer">
        <p>Annual fee</p>
        <h1>Rs. 3,40,000</h1>
      </div>
      <button class="btn-activate" (click)="activate()">Activate Now</button>
    </div>
  </div>
</div>